body {
	overflow-x: hidden;
}

.container {
	max-width: 78.0rem;
	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
}

#home {
	background: #fff;
	height: 100vh;
	position: relative;
	max-height: 100vh;
	min-width: 100vw;
}

.img-icon{
	width: 1.3em;
}

.div-bottom {
	left: 50%;
	position: absolute;
	top: 100%;
	display: block;
	transform: translate(-0%, -50%);
}

.div-centered {
	left: 50%;
	position: absolute;
	top: 50%;
	display: block;
	transform: translate(-50%, -50%);
}

.img-circle {
    border-radius: 50%;
}

.img-face {
    border-radius: 50%;
	width: 3em;
	height: 3em;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}